header.header   
    .header-column
        a(href=routes.home)
            i.fab.fa-youtube
    .header-column
        ul
            li  
                a(href=routes.join) Join
            li  
                a(href=routes.login) Log In

