doctype html
html
    head
        link(rel="stylesheet",href="https://use.fontawesome.com/releases/v5.5.0/css/all.css",crossorigin="anoymous") 
        title #{pageTitle} | #{siteName}
    body
        include ../partials/header
        main
            block content
        include ../partials/footer